* {box-sizing: border-box}

/* Style the tab */
.verticalTab {
  width: 100%;
  height: 250px;
  margin-top: 300px;
  margin-right: 10px;
  z-index: 4;
}

/* Style the buttons that are used to open the tab content */
.verticalTab p {
  display: block;
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  /* transition: 0.3s; */
  border-radius: 10px;
  font-size: 0.8rem;
}

.verticalTab button{
  margin-bottom: 5px;
  width: 50px;
}

/* Change background color of buttons on hover */
.verticalTab button:hover {
  border-right: 2px solid yellow;
}

.verticalTab button p{
  margin-right: 20px;
}

/* Create an active/current "tab button" class */
/* .verticalTab button.active {
  background-color: #ccc;
} */

/* Style the tab content */
/* .tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
} */



.RightpanelListItem {
  background-color: rgb(155, 13, 48);
  /* background-image: url('../Assets/Images/panelBG2.jpg'); */
  background-size: auto;
  width: 3.5vw; 
  margin:1vh auto;
  border-radius: 30px;
  transition: 0.8s;
}

.leftpanelListItem {
  width: 3.5vw; 
  margin:1vh auto;
  border-radius: 10px;
}

.panelListTitle{
  height: 6vh;
  margin: 0 auto;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font: 1rem Vazir;
  text-decoration: none;
}

.RightpanelListItem:hover{
  /* border-right: 2px solid rgb(243, 187, 4); */
  background-color: rgb(240, 152, 20);
  background-size: auto;
  margin:1vh auto;
  border-radius: 30px;
  transition: 0.8s; 
}

.rightSidebar .nav-pills .nav-link.active {
  height: 10vh;
  border-radius: 30px;
  text-decoration-color: black;
  background-color: rgb(233, 45, 92) !important;
  /* background-color: inherit !important; */
}

.leftSidebar .nav-pills .nav-link.active {
  height: 10vh;
  border-radius: 10px;
  text-decoration-color: black;
  background-color: rgb(214, 125, 23, 0.5) !important;
  /* background-color: inherit !important; */
}


.leftpanelListItem:hover{
  border-left: 2px solid yellow;
  transition: 0.5s;
}

.panelListTitle:hover{
  text-decoration-style: none;
  color: black;
}

.tabName{
  color: white;
  font-size: 0.6rem;
  float: right;
  direction: rtl;
}


