  .wholePanelPage {
      min-height: 100vh;
      max-height: 100vh;
      min-width: 99vw;
      max-width: 100vw;    
      /* background-image: linear-gradient(45deg, rgb(55, 3, 71), rgb(243, 3, 123), rgb(248, 81, 3)); */
      background-image: url('./Assets/Images/panelBG2.jpg');
      
      /* background-image: url('https://images.unsplash.com/photo-1513039306615-8f4f46ed16f0?auto=format&fit=crop&w=1500&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'); */
      background-repeat: no-repeat;
      background-size: cover;  
      /* filter: blur(10px); */
      /* -webkit-filter: blur(8px);   */
      direction: rtl;
      margin: 0;
      padding: 0;
      font-family: 'Vazir';
      /* z-index: -1; */
  }


/**** Components' Styles  ****/

  .panel{
    background-color: rgb(22, 21, 21);
    border-radius: 30px;
    min-height: 93vh;
    max-height: 93vh;
  }

  .panelHeader {
    background-color: rgb(71, 67, 67, 0.5);
    height: 7vh;
    margin-bottom: 1vh;
    border-radius: 30px 30px 0 0;
  }

  .panelBody{
    width: 90%;
    height: 80vh;
    background-color: rgba(32, 30, 41, 0.267);
    border-radius: 30px;

  }
  
  .panelNavBar{
    background-color: rgb(71, 67, 67, 0.5);
    background-size: cover;
    width: 100%;
    height: 7vh;
    margin: 0 auto;
    border-radius: 30px 30px 0 0;
  }

  .panelDetails {
    width: 100%;
  }

  .panelDetails .col-1 {
    width: 5vw !important;
  }

  .panelDetails .col-10 {
    width: 92vw !important;
  }


/**** Icons' Style ****/

  .bellIcon,
  .logOutIcon{
    height: 3vh;
  }

  .menuIcon{
      height: 3vh;
      padding-left: 25px;
  }
  
  .databaseIcon,
  .thingsIcon,
  .designIcon{
    height: 4vh;
  }

  .backwardIcon,
  .forwardIcon,
  .copyIcon,
  .dotsIcon {
    height: 2vh;
  }  

  .profileImg_Item{
    margin-left: 4vh;
    margin-right: 0;
  }

  .profileImg{
    height: 5vh;
    margin: 0 auto;
  }

  .LogOutLink{
    overflow: hidden;
    border-radius: 20px;
    width: 35%;
  }    

  .notifLink{
    border-radius: 20px;
  }

  .filterIcon,
  .listIcon,
  .lawsIcon,
  .ratingIcon,
  .operationsIcon{
    height: 3vh;
  }


/**** SideBar Styles ****/

  .rightSidebar{ 
    background-color: rgb(71, 67, 67, 0.3);
    background-size: cover;
    /* min-width: 4vw !important; */
    /* max-width: 4vw !important; */
    min-height: 73vh;
    max-height: 73vh;
    /* margin-left: 3vw !important; */
    border-radius: 0 0 30px 0;
  }

  .leftSidebar {
    background-color: rgb(71, 67, 67, 0.3);
    background-size: cover;
    /* min-width: 4vw !important; */
    /* max-width: 4vw !important; */
    min-height: 73vh;
    max-height: 73vh;
    /* margin-right: 2vw !important; */
    border-radius: 0px 0px 0 30px;
  }

  .tabcontent {
    float: right;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 300px;
  }

  .sidebarDropdown{
    z-index: 3;
    background-color: #2d4cb1;
    float: right;
    font-family: Vazir;
    font-size: 18px;
    margin: 40px 10px 0 0;
    border-radius: 8px;
  }

  
/**** Dashboard Styles ****/

  .dashboard{
    height: 73vh;
    width: 90vw;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .rightSidebarDropDown {
    height: 73vh;
    width: 90vw;
    opacity: 0.5;
    background-image: url('./Assets/Images/panelBG2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    margin-right: -4.5vw !important;
    margin-left: 0px !important;
    border-radius: 30px 0 0 30px;
  }

  /* RightSideBar TabContents' Style */

  .databaseListTitle{
    font: 0.8rem Vazir !important;
    color: white;
    text-decoration: none !important;
    direction: rtl;
    float: right;
  }

  .databaseListTitle:hover{
    /* color: white; */
    text-decoration: none;
  }

  .databaseListItem .nav-link {
    font: 0.7rem Vazir !important;
    color: white;
    text-decoration: none !important;
  }



  

  

  
  
  
  