
/* RESET ***********************
********************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}

/* Typefaces ********************
*********************************/

@font-face {
  font-family: Vazir;
  src: url('./Assets/Fonts/vazir/Vazir-Medium-FD.eot');
  src: url('./Assets/Fonts/vazir/Vazir-Medium-FD.ttf') format('embedded-opentype'),
       url('./Assets/Fonts/vazir/Vazir-Medium-FD.woff') format('woff'),
       url('./Assets/Fonts/vazir/Vazir-Medium-FD.woff2') format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: Vazir;
  src: url('./Assets/Fonts/vazir/Vazir-Light-FD.eot');
  src: url('./Assets/Fonts/vazir/Vazir-Light-FD.ttf') format('embedded-opentype'),
       url('./Assets/Fonts/vazir/Vazir-Light-FD.woff') format('woff'),
       url('./Assets/Fonts/vazir/Vazir-Light-FD.woff2') format('truetype');
  font-weight: normal;
}
      
@font-face {
  font-family: Vazir;
  src: url('./Assets/Fonts/vazir/Vazir-Bold-FD.eot');
  src: url('./Assets/Fonts/vazir/Vazir-Bold-FD.ttf') format('embedded-opentype'),
       url('./Assets/Fonts/vazir/Vazir-Bold-FD.woff') format('woff'),
       url('./Assets/Fonts/vazir/Vazir-Bold-FD.woff2') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('./Assets/Fonts/vazir/Vazir-Thin-FD.eot');
  src: url('./Assets/Fonts/vazir/Vazir-Thin-FD.ttf') format('embedded-opentype'),
       url('./Assets/Fonts/vazir/Vazir-Thin-FD.woff') format('woff'),
       url('./Assets/Fonts/vazir/Vazir-Thin-FD.woff2') format('truetype');
  font-weight: 300;
}

/* Styles *****************
***************************/

* {
	box-sizing: border-box;
}

body {
  font-family: 'Vazir' , sans-serif;
  font-weight: normal;
}

img::selection {
  background: none;
}

.topContainer {
  max-width: 1600px;
  min-width: 1440px;
  width: 95%;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .topContainer {
    width: 100%;
    min-width: unset;
    margin: unset;
  }
}

/* سایز متن برای بخش‌های اصلی و تکرار شونده در صفحات ****/
/* ******************************************************* */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.3rem;
}

h1, h2, h3, h4 ,h5 ,h6 {
  line-height: 1.5;
  font-weight: bold;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #6F6D6F;
  text-align: right;
}

h2+p {
  margin-top: 1.5rem;
}

/* رنگ‌های متن و زمینه ************/
/* ****************************** */

.fullBG {
  background: #FCF5E8;
  padding-bottom: 0;
}

.halfBG {
  position: relative;
}

.halfBG::before {
  content: "";
  background: #FCF5E8;
  display: block;
  position: absolute;
  z-index: -5;
  top: 0;
  width: 100%;
  height: calc(100% - 10rem);
}

/* *************** */

.Yellow {
  color: #FFC65A;
  background: #FFF7E8;
}

.mainBlue {
  color: #4A5D95;
  background: #D3D7EB;
}

.violetBlue {
  color: #7971FB;
  background: #D3D7EB;
}

.green {
  color: #1EDD88;
  background: #E4FFF3;
}

.red {
  color: #FD1015;
  background: #FCC6BD;
}

.coloredBox {
  /* از رنگ زمینه‌ی
  .mainBlue 
  استفاده شده است.
   */
  background: #D3D7EB;
}

@media screen and (max-width: 699px) {
  .Yellow ,
  .mainBlue,
  .violetBlue,
  .green, 
  .red {
    background: unset;
  }
}

/* ****************************** */
/* ****************************** */
